<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="libs/fonts/Montserrat.css">
    <link rel="stylesheet" href="libs/fonts/Roboto.css">
    <link rel="stylesheet" href="libs/fonts/Sofia.css">
    <link rel="stylesheet" href="libs/fonts/MaterialIcons.css">
    <script src="libs/frameworks/vue.js"></script>
    <script src="libs/frameworks/vue-color.js"></script>
    <script src="libs/frameworks/keycodes.js"></script>
    <script src="libs/frameworks/chart.js"></script>
    <script src="libs/js-database/general.js"></script>
    <script src="libs/svgs/hud.js"></script>
</head>

<!-- oncontextmenu="return false" -->

<body onload="resizeAll()" onresize="resizeAll()">
    <link rel="stylesheet" href="style/main.css">
    <!-- <style> body { background: url('bg.jpg'); } </style> -->

    <div id="vue_app">
        <npc-template v-show="show.npc" v-if="render.npc"></npc-template>
        <colorpicker-template v-if="render.colorpicker"></colorpicker-template>
        <chat-template v-show="show.chat" v-if="render.chat"></chat-template>
        <notifications-template v-show="show.notifications" v-if="render.notifications"></notifications-template>
        <login-template v-show="show.login" v-if="render.login"></login-template>
        <reg-template v-show="show.reg" v-if="render.reg"></reg-template>
        <char-select-template v-show="show.char_selection" v-if="render.char_selection"></char-select-template>
        <start-place-template v-show="show.start_place" v-if="render.start_place"></start-place-template>
        <creation-template v-show="show.char_creation" v-if="render.char_creation"></creation-template>
        <div v-if="render.hud">
            <hud-top-template v-show="show.hud_top"></hud-top-template>
            <hud-quest-template v-show="show.hud_quest"></hud-quest-template>
            <hud-help-template v-show="show.hud_help"></hud-help-template>
            <speedometer-template v-show="show.hud_spd"></speedometer-template>
            <hud-interact-template v-show="show.hud_interact"></hud-interact-template>
            <hud-menu-template v-show="show.hud_menu"></hud-menu-template>
            <hud-left-template v-show="show.hud_left"></hud-left-template>
        </div>
        <phone-template v-show="show.phone" v-if="render.phone"></phone-template>
        <interaction-template
            v-show="show.char_interaction || show.ov_interaction || show.iv_interaction || show.pass_interaction"
            v-if="render.interaction"></interaction-template>
        <menu-template v-show="show.menu" v-if="render.menu"></menu-template>
        <menu-bank-template v-show="show.menu_bank" v-if="render.menu_bank"></menu-bank-template>
        <menu-biz-template v-show="show.menu_biz" v-if="render.menu_biz"></menu-biz-template>
        <menu-garage-template v-show="show.menu_gar" v-if="render.menu_gar"></menu-garage-template>
        <menu-home-template v-show="show.menu_home" v-if="render.menu_home"></menu-home-template>
        <actionbox-template v-show="show.actionbox" v-if="render.actionbox"></actionbox-template>
        <inventory-template v-show="show.inventory || show.crates_inventory || show.trade || show.workbench" v-if="render.full_inventory"></inventory-template>
        <shop-template v-show="show.shop" v-if="render.shop"></shop-template>
        <retail-template v-show="show.retail" v-if="render.retail"></retail-template>
        <death-template v-show="show.death" v-if="render.death"></death-template>
        <documents-template v-show="show.docs" v-if="render.docs"></documents-template>
        <animations-template v-show="show.anims" v-if="render.anims"></animations-template>
        <estate-template v-show="show.estate" v-if="render.estate"></estate-template>
        <estate-agency-template v-show="show.est_agency" v-if="render.est_agency"></estate-agency-template>
        <elevator-template v-show="show.elevator" v-if="render.elevator"></elevator-template>
        <car-maintenance-template v-show="show.car_maint" v-if="render.car_maint"></car-maintenance-template>
        <blips-template v-show="show.blips" v-if="render.blips"></blips-template>
        <tuning-template v-show="show.tuning" v-if="render.tuning"></tuning-template>
        <salon-template v-show="show.salon" v-if="render.salon"></salon-template>
        <tattoo-template v-show="show.tattoo_salon" v-if="render.tattoo_salon"></tattoo-template>
        <atm-template v-show="show.atm" v-if="render.atm"></atm-template>
        <note-template v-show="show.note" v-if="render.note"></note-template>
        <music-player-template v-show="show.music_player" v-if="render.music_player"></music-player-template>
    </div>

    <!-- Import App -->
    <script src="./main.js"></script>

    <!-- Import Components -->
    <!-- AUTH -->
    <script src="./components/auth/login-template.js"></script>
    <script src="./components/auth/reg-template.js"></script>
    <script src="./components/auth/char-selection-template.js"></script>
    <script src="./components/auth/start-place-template.js"></script>
    <!-- HUD -->
    <script src="./components/hud/hud-top-template.js"></script>
    <script src="./components/hud/hud-quest-template.js"></script>
    <script src="./components/hud/hud-help-template.js"></script>
    <script src="./components/hud/speedometer-template.js"></script>
    <script src="./components/hud/hud-interact-template.js"></script>
    <script src="./components/hud/hud-menu-template.js"></script>
    <script src="./components/hud/hud-left-template.js"></script>
    <!-- MENU-LIKE -->
    <script src="./components/menu-like/animations-template.js"></script>
    <script src="./components/menu-like/blips-template.js"></script>
    <script src="./components/menu-like/car-maintenance-template.js"></script>
    <script src="./components/menu-like/estate-agency-template.js"></script>
    <script src="./components/menu-like/estate-template.js"></script>
    <script src="./components/menu-like/menu-bank-template.js"></script>
    <script src="./components/menu-like/menu-biz-template.js"></script>
    <script src="./components/menu-like/menu-garage-template.js"></script>
    <script src="./components/menu-like/menu-home-template.js"></script>
    <script src="./components/menu-like/menu-template.js"></script>
    <script src="./components/menu-like/music-player-template.js"></script>
    <!-- SMALL-INTERFACE -->
    <script src="./components/small-interface/actionbox-template.js"></script>
    <script src="./components/small-interface/atm-template.js"></script>
    <script src="./components/small-interface/death-template.js"></script>
    <script src="./components/small-interface/documents-template.js"></script>
    <script src="./components/small-interface/elevator-template.js"></script>
    <script src="./components/small-interface/notifications-template.js"></script>
    <script src="./components/small-interface/note-template.js"></script>
    <script src="./components/small-interface/npc-template.js"></script>
    <script src="./components/colorpicker-template.js"></script>
    <!-- STORE-LIKE -->
    <script src="./components/store-like/creation-template.js"></script>
    <script src="./components/store-like/shop-template.js"></script>
    <script src="./components/store-like/retail-template.js"></script>
    <script src="./components/store-like/tuning-template.js"></script>
    <script src="./components/store-like/salon-template.js"></script>
    <script src="./components/store-like/tattoo-template.js"></script>
    <!-- NO CATEGORY -->
    <script src="./components/chat-template.js"></script>
    <script src="./components/interaction-template.js"></script>
    <script src="./components/inventory-template.js"></script>
    <script src="./components/phone-template.js"></script>
    <script>
        const mountedApp = vue_app.mount('#vue_app')
    </script>
    <script type="module">
        import { Scene, WebGLRenderer, PerspectiveCamera, Mesh } from 'https://cdn.skypack.dev/three@0.129.0';
        import { OrbitControls } from 'https://cdn.skypack.dev/three@0.129.0/examples/jsm/controls/OrbitControls.js';
        import { TransformControls } from 'https://cdn.skypack.dev/three@0.129.0/examples/jsm/controls/TransformControls.js';
    
        const mapEditorData = {
            cameraPersp: null,
            scene: null,
            renderer: null,
            control: null,
            orbit: null,
            mesh: null,
            timer: null,
        };
		const mapEditorDegrees = 180 / Math.PI;
		const mapEditorRadians = Math.PI / 180;
    
        const mapEditorInit = (enableRot, xAxis, yAxis, zAxis) => {    
            const aspect = window.innerWidth / window.innerHeight;
            mapEditorData.renderer = new WebGLRenderer({ alpha: true });
            mapEditorData.renderer.setPixelRatio(window.devicePixelRatio);
            mapEditorData.renderer.setSize(window.innerWidth, window.innerHeight);
            mapEditorData.cameraPersp = new PerspectiveCamera(50, aspect, 0.01, 30000);
            mapEditorData.cameraPersp.position.set(1000, 500, 1000);
            mapEditorData.cameraPersp.lookAt(0, 200, 0);
            mapEditorData.scene = new Scene();
            mapEditorData.orbit = new OrbitControls(mapEditorData.cameraPersp, mapEditorData.renderer.domElement);
            mapEditorData.orbit.update();
            mapEditorData.orbit.addEventListener('change', render);
            mapEditorData.orbit.enableZoom = false;
            mapEditorData.orbit.enablePan = false;
            mapEditorData.control = new TransformControls( mapEditorData.cameraPersp, mapEditorData.renderer.domElement);
            mapEditorData.control.addEventListener('change', render);
            mapEditorData.control.addEventListener('dragging-changed', draggingChanged);
            mapEditorData.mesh = new Mesh();
            mapEditorData.scene.add(mapEditorData.mesh);
            mapEditorData.control.attach(mapEditorData.mesh);
            mapEditorData.scene.add(mapEditorData.control);
			mapEditorToggleMode(enableRot, xAxis, yAxis, zAxis);
            mapEditorData.renderer.domElement.style.position = 'absolute';
            document.body.insertAdjacentElement('afterbegin', mapEditorData.renderer.domElement);
        };
    
        const mapEditorDestroy = () => {  
            if (mapEditorData.timer != null) clearInterval(mapEditorData.timer);
            if (mapEditorData.renderer != null) document.body.removeChild(mapEditorData.renderer.domElement);
            if (mapEditorData.scene != null && mapEditorData.mesh != null) mapEditorData.scene.remove(mapEditorData.mesh);
            if (mapEditorData.scene != null) mapEditorData.scene.clear();     
            if (mapEditorData.orbit != null) mapEditorData.orbit.removeEventListener('change', render);
            if (mapEditorData.control != null) {
                mapEditorData.control.removeEventListener('change', render);
                mapEditorData.control.removeEventListener('dragging-changed', draggingChanged);
            }
            mapEditorData.cameraPersp = null;
            mapEditorData.scene = null;
            mapEditorData.renderer = null;
            mapEditorData.control = null;
            mapEditorData.orbit = null;
            mapEditorData.mesh = null;
            mapEditorData.timer = null;
        };
		
		const mapEditorToggleMode = (enableRot, xAxis, yAxis, zAxis) => {
			if (!mapEditorData.control) return;

			if (enableRot) {
				mapEditorData.control.setMode('rotate');
				mapEditorData.control.showX = xAxis;
				mapEditorData.control.showY = yAxis;
				mapEditorData.control.showZ = zAxis;
			} else {
				mapEditorData.control.setMode('translate');
				mapEditorData.control.showX = xAxis;
				mapEditorData.control.showY = yAxis;
				mapEditorData.control.showZ = zAxis;
			}
		};
    
        const draggingChanged = (event) => {
    
            if (!mapEditorData.orbit)
				return;
    
            mapEditorData.orbit.enabled = !event.value;
    
            if (event.value) {
                if (mapEditorData.timer != null)
					clearInterval(mapEditorData.timer);
                mapEditorData.timer = setInterval(() => {
					if (mapEditorData.control.getMode() == 'translate') {
						mp.trigger("MapEditor::Update", true, mapEditorData.mesh.position.x, -mapEditorData.mesh.position.z, mapEditorData.mesh.position.y);
					}
					else {
						mp.trigger("MapEditor::Update", false, mapEditorData.mesh.rotation.x * mapEditorDegrees, -mapEditorData.mesh.rotation.z * mapEditorDegrees, mapEditorData.mesh.rotation.y * mapEditorDegrees);
					}
                }, 3);
            } else {
                if (mapEditorData.timer != null) {
					clearInterval(mapEditorData.timer);
					mapEditorData.timer = null;
				}
            }
        };
    
        const render = () => {
            if (mapEditorData.renderer)
				mapEditorData.renderer.render(mapEditorData.scene, mapEditorData.cameraPersp);
        };
    
        window.mapEditor_update = function mapEditor_update(x, y, z, rX, rY, rZ, camX, camY, camZ, camTargetX, camTargetY, camTargetZ) {
            mapEditorData.cameraPersp.position.set(camX, camZ, -camY);
            mapEditorData.cameraPersp.lookAt(camTargetX, camTargetZ, -camTargetY);
            if (!mapEditorData.orbit || !mapEditorData.orbit.enabled) return render();
            mapEditorData.mesh.position.set(x, z, -y);
            mapEditorData.mesh.rotation.set(rX * mapEditorRadians, rZ * mapEditorRadians, -rY * mapEditorRadians, 'YXZ');
            render();
        }
    
        window.mapEditor_init = function mapEditor_init(enableRot = false, xAxis = true, yAxis = true, zAxis = true) {
			mapEditorInit(enableRot, xAxis, yAxis, zAxis); 
		}		
    
        window.mapEditor_destroy = function mapEditor_destroy() {
			mapEditorDestroy();
		}
		
		window.mapEditor_toggleMode = function mapEditor_toggleMode(enableRot, xAxis, yAxis, zAxis) {
			mapEditorToggleMode(enableRot, xAxis, yAxis, zAxis);
		}
    </script>
</body>

</html>