.quest-grad-type-0 {
    background: linear-gradient(250.85deg, #303030 5.14%, #414141 52.26%, #303030 92.13%);
    background-size: 300% 100%;
}

.quest-grad-type-1 {
    background: linear-gradient(225deg, #C81212 0%, #851717 100%);
    background-size: 300% 100%;

}

.quest-grad-type-2 {

    background-size: 300% 100%;
}

.quest-grad-type-3 {

    background-size: 300% 100%;
}