.close-circle {
    position: relative;
    top: 200px;
    left: 200px;
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
}

.close-circle span {
    position: absolute;
    width: 100%;
    text-align: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    color: white;
    font-size: 24px;
    user-select: none;
}

.support-div {
    z-index: 10;
    position: absolute;
    left: 0px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.support-circle {
    border-radius: 50%;
    z-index: -1;
    position: absolute;
    top: 100px;
    left: 100px;
    width: 500px;
    height: 500px;
}

.documents-circle {
    display: none;
    position: absolute;
    top: 26.64px;
    left: 0.5px;
}

.money-circle {
    display: none;
    position: absolute;
    bottom: -4px;
    right: 26px;
}

.interact-circle {
    display: none;
    position: absolute;
    top: 0.5px;
    left: 101.51px;
}

.property-circle {
    display: none;
    position: absolute;
    bottom: 22px;
    right: 0px;
}

.heal-circle {
    display: none;
    position: absolute;
    bottom: -4px;
    left: 26.64px;
}

.doors-circle {
    display: none;
    position: absolute;
    top: 0.7px;
    left: 241.84px;
}

.seat-circle {
    display: none;
    position: absolute;
    bottom: 345.5px;
    right: 0.1px;
}

.trunk-circle {
    display: none;
    position: absolute;
    bottom: 346px;
    right: 0.2px;
}

.hood-circle {
    display: none;
    position: absolute;
    top: 350px;
    right: 0.7px;
}

.other-circle {
    display: none;
    position: absolute;
    bottom: -4px;
    left: 144px;
}