#out-veh-interaction,
#character-interaction,
#in-veh-interaction {
  position: absolute;
  width: 700px;
  height: 700px;
  bottom: calc(50% - 350px);
  left: calc(50% - 350px);
  transition: 0.5s;
}

#ov-interaction,
#iv-interaction {
  z-index: 5;
  position: absolute;
  transform: rotate(90deg);
  top: 100px;
  left: 100px;
  width: 500px;
  height: 500px;
}

#ov-sections,
#iv-sections {
  z-index: 3;
  position: absolute;
  height: 700px;
  width: 700px;
  transform: rotate(90deg);
  top: 0px;
  left: 0px;
}

#ov-extra-sections,
#iv-extra-sections {
  z-index: 1;
  position: absolute;
  height: 700px;
  width: 700px;
  transform: rotate(90deg);
  top: 0px;
  left: 0px;
}

#char-interaction {
  z-index: 5;
  position: absolute;
  top: 100px;
  left: 100px;
  width: 500px;
  height: 500px;
}

#char-sections {
  z-index: 3;
  position: absolute;
  height: 700px;
  width: 700px;
  top: 0px;
  left: 0px;
}

#char-extra-sections {
  z-index: 1;
  position: absolute;
  height: 700px;
  width: 700px;
  top: 0px;
  left: 0px;
}

/*блок картинок и текста*/
.text-pics {
  width: 700px;
  height: 700px;
  position: absolute;
  left: 0px;
  top: 0px;
}