.chart-item-doors,
.chart-item-d-open,
.chart-item-d-close,
.chart-item-hood,
.chart-item-h-look,
.chart-item-h-open,
.chart-item-h-close,
.chart-item-trunk,
.chart-item-t-look,
.chart-item-t-open,
.chart-item-t-close,
.chart-item-push,
.chart-item-park,
.chart-item-vehdoc,
.chart-item-job,
.chart-item-gas,
.chart-item-other,
.chart-item-o-fix,
.chart-item-o-putnp,
.chart-item-o-remnp,
.chart-item-o-junkyard,
.chart-item-seat,
.chart-item-s-one,
.chart-item-s-two,
.chart-item-s-three,
.chart-item-s-four,
.chart-item-s-trunk,
.chart-item-music,
.chart-item-passengers,
.chart-item-interact1,
.chart-item-interact2,
.chart-item-i-carry,
.chart-item-i-coin,
.chart-item-i-handshake,
.chart-item-i-kiss,
.chart-item-property,
.chart-item-p-sellhouse,
.chart-item-p-sellcar,
.chart-item-p-sellbuis,
.chart-item-p-settle,
.chart-item-documents,
.chart-item-d-vehdoc,
.chart-item-d-medbook,
.chart-item-d-license,
.chart-item-d-passport,
.chart-item-money,
.chart-item-m-50,
.chart-item-m-150,
.chart-item-m-300,
.chart-item-m-1000,
.chart-item-heal,
.chart-item-h-pulse,
.chart-item-h-bandage,
.chart-item-h-cure,
.chart-item-intertrade,
.chart-item-charjob {
  stroke: #252628;
  opacity: 0;
}

.interaction-selected {
  opacity: 0.95;
  stroke: #C81212;
}

/*картинки и текст секций*/
.doors {
  z-index: 6;
  position: absolute;
  left: 323px;
  top: 112px;
}

.d-open {
  z-index: 6;
  position: absolute;
  left: 273px;
  top: 21px;
}

.d-close {
  z-index: 6;
  position: absolute;
  right: 277px;
  top: 21px;
}

.seat {
  z-index: 6;
  position: absolute;
  right: 209px;
  top: 152px;
}

.s-one {
  z-index: 6;
  position: absolute;
  right: 295px;
  top: 37px;
}

.s-two {
  z-index: 6;
  position: absolute;
  right: 203px;
  top: 67px;
}

.s-three {
  z-index: 6;
  position: absolute;
  right: 121px;
  top: 116px;
}

.s-four {
  z-index: 6;
  position: absolute;
  right: 67px;
  top: 192px;
}

.s-trunk {
  z-index: 6;
  position: absolute;
  right: 29px;
  top: 291px;
}

.trunk {
  z-index: 6;
  position: absolute;
  right: 117px;
  top: 256px;
}

.t-look {
  z-index: 6;
  position: absolute;
  right: 103px;
  top: 103px;
}

.t-open {
  z-index: 6;
  position: absolute;
  right: 47px;
  top: 180px;
}

.t-close {
  z-index: 6;
  position: absolute;
  right: 19px;
  top: 272px;
}

.hood {
  z-index: 6;
  position: absolute;
  right: 131px;
  top: 370px;
}

.h-look {
  z-index: 6;
  position: absolute;
  right: 18px;
  top: 365px;
}

.h-open {
  z-index: 6;
  position: absolute;
  right: 52px;
  bottom: 182px;
}

.h-close {
  z-index: 6;
  position: absolute;
  right: 105px;
  bottom: 105px;
}

.push {
  z-index: 6;
  position: absolute;
  right: 201px;
  bottom: 153px;
}

.other {
  z-index: 6;
  position: absolute;
  left: 321px;
  bottom: 112px;
}

.o-fix {
  z-index: 6;
  position: absolute;
  left: 180px;
  bottom: 51px;
}

.o-putnp {
  z-index: 6;
  position: absolute;
  left: 269px;
  bottom: 14px;
}

.o-remnp {
  z-index: 6;
  position: absolute;
  right: 276px;
  bottom: 14px;
}

.o-junkyard {
  z-index: 6;
  position: absolute;
  right: 180px;
  bottom: 51px;
}

.park {
  z-index: 6;
  position: absolute;
  left: 189px;
  bottom: 152px;
}

.vehdoc {
  z-index: 6;
  position: absolute;
  left: 107px;
  bottom: 272px;
}

.job {
  z-index: 6;
  position: absolute;
  left: 124px;
  top: 253px;
}

.gas {
  z-index: 6;
  position: absolute;
  left: 189px;
  top: 151px;
}

.passengers {
  z-index: 6;
  position: absolute;
  left: 306px;
  bottom: 122px;
}

.music {
  z-index: 6;
  position: absolute;
  right: 190px;
  bottom: 145px;
}

.interact {
  z-index: 6;
  position: absolute;
  left: 286px;
  top: 124.88px;
}

.i-handshake {
  z-index: 6;
  position: absolute;
  left: 156px;
  top: 62px;
}

.i-kiss {
  z-index: 6;
  position: absolute;
  left: 249px;
  top: 27px;
}

.i-carry {
  z-index: 6;
  position: absolute;
  right: 271px;
  top: 27px;
}

.i-coin {
  z-index: 6;
  position: absolute;
  right: 158px;
  top: 57px;
}

.intertrade {
  z-index: 6;
  position: absolute;
  right: 135px;
  top: 254px;
}

.property {
  z-index: 6;
  position: absolute;
  right: 113px;
  bottom: 244px;
}

.p-sellhouse {
  z-index: 6;
  position: absolute;
  right: 24px;
  top: 247px;
}

.p-sellcar {
  z-index: 6;
  position: absolute;
  right: 27px;
  bottom: 259px;
}

.p-sellbuis {
  z-index: 6;
  position: absolute;
  right: 68px;
  bottom: 156px;
}

.p-settle {
  z-index: 6;
  position: absolute;
  right: 145px;
  bottom: 74px;
}

.money {
  z-index: 6;
  position: absolute;
  right: 226px;
  bottom: 132px;
}

.m-50 {
  z-index: 6;
  position: absolute;
  right: 75px;
  bottom: 155px;
}

.m-150 {
  z-index: 6;
  position: absolute;
  right: 156px;
  bottom: 69px;
}

.m-300 {
  z-index: 6;
  position: absolute;
  right: 271px;
  bottom: 27px;
}

.m-1000 {
  z-index: 6;
  position: absolute;
  right: 384px;
  bottom: 27px;
}

.heal {
  z-index: 6;
  position: absolute;
  left: 237px;
  bottom: 129px;
}

.h-pulse {
  z-index: 6;
  position: absolute;
  left: 237px;
  bottom: 24px;
}

.h-bandage {
  z-index: 6;
  position: absolute;
  left: 136px;
  bottom: 76px;
}

.h-cure {
  z-index: 6;
  position: absolute;
  left: 65px;
  bottom: 156px;
}

.charjob {
  z-index: 6;
  position: absolute;
  left: 132px;
  bottom: 249px;
}

.documents {
  z-index: 6;
  position: absolute;
  left: 109px;
  top: 249px;
}

.d-vehdoc {
  z-index: 6;
  position: absolute;
  left: 19px;
  bottom: 254px;
}

.d-medbook {
  z-index: 6;
  position: absolute;
  left: 13px;
  top: 254px;
}

.d-license {
  z-index: 6;
  position: absolute;
  left: 48px;
  top: 159px;
}

.d-passport {
  z-index: 6;
  position: absolute;
  left: 149px;
  top: 55px;
}