#atm {
    width: 600px;
    height: 460px;
    ;
    position: relative;
    top: calc(50% - 230px);
    left: calc(50% - 300px);
}

#atm>div:first-child {
    background: linear-gradient(268.24deg, #222222 0.37%, #292929 53.3%, #222222 100%);
    box-shadow: 10.3472px 11.4969px 72.4307px rgba(0, 0, 0, 0.24);
    border-radius: 30px;
    width: 600px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: absolute;
}

#atm>div:last-child {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(268.24deg, rgba(34, 34, 34, 0.98) 0.37%, rgba(41, 41, 41, 0.98) 53.3%, rgba(34, 34, 34, 0.98) 100%);
    box-shadow: 10.3472px 11.4969px 72.4307px rgba(0, 0, 0, 0.24);
    border-radius: 0px 0px 30px 30px;
    width: 600px;
    height: 400px;
    ;
    position: absolute;
    bottom: 0;
    z-index: 0;
}

#atm-wrapper {
    width: 305px;
    height: 260px;
    position: absolute;
    top: 95px;
    left: calc(50% - 152.5px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

#atm-wrapper>div:first-child,
#atm-wrapper>div:last-child {
    font-size: 12px;
}

#atm-wrapper>div:first-child,
#atm-container {
    color: white;
}

#atm-container {
    background: linear-gradient(265.48deg, #282828 2.73%, rgba(44, 44, 44, 0.515625) 48.56%, #282828 97.34%);
    border-radius: 5px;
    width: 225px;
    height: 115px;
    display: flex;
    padding: 25px 45px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
    font-size: 14px;
}

#atm-wrapper>div:last-child {
    color: #868686;
}

#atm-wrapper>div:first-child span:first-child,
#atm-wrapper>div:last-child span:first-child {
    font-weight: 400;
}

#atm-wrapper>div:first-child span:last-child,
#atm-wrapper>div:last-child span:last-child {
    font-weight: 600;
}

#atm-container>div:nth-child(2) {
    width: 117px;
    height: 17px;
    padding: 4px;
    font-weight: 600;
    font-size: 14px;
    background: linear-gradient(250.85deg, #303030 5.14%, #414141 52.26%, #303030 92.13%) 0% 0% / 300% 100%;
    display: flex;
    align-items: center;
    border-radius: 3px;
}

#atm input {
    color: white;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 14px;
    padding-left: 6px;
    width: 105px;
    border: 0;
    outline: none;
    background: none;
}

#atm-container>div:nth-child(2):hover {
    animation: 5s ease 0s infinite normal none running selected;
}

#atm-container>div:last-child {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#atm button {
    width: 100px;
    height: 35px;
    border-radius: 3px;
    font-weight: 500;
    font-size: 12px;
}