#note {
    background-image: url(../../libs/svgs/misc/note.svg);
    width: 450px;
    height: 620px;
    position: absolute;
    top: calc(50% - 310px);
    left: calc(50% - 225px);
}

.note-wrapper {
    display: grid;
    padding: 30px 0 0 65px;
  }
  
  .note-wrapper>textarea {
    resize: none;
    background: none;
    max-width: 360px;
    height: 570px;
    font-weight: 600;
    font-size: 18px;
  }
  
  .note-wrapper>textarea,
  .note-wrapper::after {
    border: 0;
    padding: 0;
    grid-area: 1 / 1 / 2 / 2;
  }

  .note-wrapper>textarea::-webkit-scrollbar {
    width: 4px;
    background: #2F2F2F;
    border-radius: 16px;
}

.note-wrapper>textarea::-webkit-scrollbar-thumb {
    background: #ff7e7e;
    border-radius: 16px;
}

textarea:disabled {
    color: black;
}

#note button {
    width: 100px;
    height: 30px;
    border-radius: 4px;
    position: absolute;
    bottom: -35px;
    left: calc(50% - 50px);
    visibility: hidden;
}