#animations {
    width: 550px;
    height: 450px;
    position: absolute;
    display: flex;
    bottom: 0;
    left: 20px;
    color: white;
}

#animations>div:first-child {
    width: 180px;
    height: 450px;
    background: linear-gradient(268.24deg, #222222 0.37%, #292929 53.3%, #222222 100%);
    box-shadow: 10.3472px 11.4969px 72.4307px rgba(0, 0, 0, 0.24);
    border-radius: 30px;
    z-index: 1;
}

#animations>div:last-child {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(268.24deg, rgba(34, 34, 34, 0.98) 0.37%, rgba(41, 41, 41, 0.98) 53.3%, rgba(34, 34, 34, 0.98) 100%);
    box-shadow: 10.3472px 11.4969px 72.4307px rgba(0, 0, 0, 0.24);
    border-radius: 0px 30px 30px 0px;
    position: absolute;
    right: 0;
    width: 400px;
    height: 450px;
}

#animations>div:first-child>div:first-child svg {
    width: 35px;
    height: 35px;
}

#animations>div:first-child>div:first-child {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    height: 70px;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}

.anims-options {
    font-weight: 600;
    font-size: 12px;
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    margin: 50px 0 0 30px;
}

.anims-options a {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.anims-options a:hover {
    color: white;
}

.anims-options svg {
    width: 20px;
    height: 20px;
    margin-right: 15px;
}

.anims-line a {
    color: rgba(255, 255, 255, 0.7);
    position: relative;
    text-decoration: none;
}

.anims-line a:before,
.anims-line a:after {
    position: absolute;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}

.anims-line a:before {
    left: -30px;
    display: block;
    height: 0%;
    width: 7px;
    content: "";
    background: linear-gradient(225.72deg, #C81212 0%, #9c1010 100%);
}

.anims-line a:after {
    left: 0;
    top: 0;
    padding: 0.5em 0;
    position: absolute;
    color: #ffffff;
    white-space: nowrap;
    max-width: 0%;
    overflow: hidden;
}

.anims-line a:hover:before,
.anims-line .current a:before {
    opacity: 1;
    height: 30px;
}

.anims-line a:hover:after,
.anims-line .current a:after {
    max-height: 30px;
}

#animations-left-wrapper {
    width: 330px;
    margin: 15px 0 0 50px;
    font-weight: 600;
    font-size: 12px;
}

#animations-left-wrapper>div:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#animations input {
    font-family: 'Montserrat';
    padding: 0;
    width: 170px;
    outline: none;
    border: 0;
    background: none;
    font-weight: 600;
    font-size: 10px;
    color: white;
}

#animations input::placeholder {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 10px;
    color: #BBBBBB;
}

#animations input:focus,
#animations input:hover {
    animation: 5s ease 0s infinite normal none running selected;
}

.anim-search-wrapper {
    width: 200px;
    display: flex;
    background: linear-gradient(250.85deg, #303030 5.14%, #414141 52.26%, #303030 92.13%) 0% 0% / 300% 100%;
    border-radius: 3px;
}


.anim-search-wrapper svg {
    width: 10px;
    height: 10px;
    padding: 5px 10px;
}

#animations-scrollable {
    margin-top: 10px;
    width: 345px;
    height: 385px;
    overflow-y: auto;
    overflow-x: hidden;
}

#animations-scrollable::-webkit-scrollbar {
    width: 10px;
    background: #2F2F2F;
    border-radius: 16px;
}

#animations-scrollable::-webkit-scrollbar-thumb {
    background: linear-gradient(225.72deg, #C81212 0%, #851717 100%);
    border-radius: 16px;
}

#animations-scrollable>div {
    display: none;
    width: 330px;
    min-height: 385px;
    background: linear-gradient(265.48deg, #282828 2.73%, rgba(44, 44, 44, 0.515625) 48.56%, #282828 97.34%);
    border-radius: 5px;
}

.anims-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 330px;
    font-size: 12px;
    color: #868686;
}

.anims-elem {
    width: 330px;
    height: 35px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    background: linear-gradient(250.85deg, #303030 5.14%, #414141 52.26%, #303030 92.13%) 0% 0% / 300% 100%;
}

.anims-elem:hover {
    animation: 5s ease 0s infinite normal none running selected;
}

.anims-elem-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    font-weight: 600;
    font-size: 12px;
    margin-left: 20px;
}

.anims-elem-content svg {
    width: 25px;
    height: 25px;
}

.anims-selected {
    background: linear-gradient(225.72deg, #C81212 0%, #851717 100%) 0% 0% / 300% 100%;
    animation: 5s ease 0s infinite normal none running selected;
}

