#car-maintenance {
    width: 900px;
    height: 300px;
    position: relative;
    top: calc(50% - 150px);
    left: calc(50% - 450px);
    color: white;
}

#car-maintenance>div:first-child {
    background: linear-gradient(268.24deg, #222222 0.37%, #292929 53.3%, #222222 100%);
    box-shadow: 10.3472px 11.4969px 72.4307px rgba(0, 0, 0, 0.24);
    border-radius: 30px;
    width: 235px;
    height: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    position: absolute;
    z-index: 1;
}

#car-maintenance>div:first-child svg {
    width: 35px;
    height: 35px;
    margin: 60px 0 25px 0;

}

#car-maintenance>div:last-child {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(268.24deg, rgba(34, 34, 34, 0.98) 0.37%, rgba(41, 41, 41, 0.98) 53.3%, rgba(34, 34, 34, 0.98) 100%);
    box-shadow: 10.3472px 11.4969px 72.4307px rgba(0, 0, 0, 0.24);
    border-radius: 0px 30px 30px 0px;
    width: 695px;
    height: 300px;
    position: absolute;
    right: 0;
    z-index: 0;
}

#car-maintenance-wrapper {
    width: 480px;
    height: 215px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    position: absolute;
    left: calc(50% - 240px);
    top: 50px;
}

#car-maintenance-wrapper>div:first-child {
    font-weight: 700;
    font-size: 14px;
    height: 20px;
}

#car-maintenance-container {
    width: 480px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#car-maintenance input[type="range"] {
    margin: 0;
    -webkit-appearance: none;
    height: 10px;
    background: #2F2F2F;
    border-radius: 16px;
    background-image: linear-gradient(86.42deg, #C81212 0%, #851717 100%);
    background-repeat: no-repeat;
    width: 100%;
    outline: none;
}

#car-maintenance input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: #fff;
    cursor: ew-resize;
}

.car-maint-spans {
    font-weight: 600;
    font-size: 14px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.car-maint-spans span {
    width: 100px;
}

#car-maint-range {
    color: white;
    font-family: 'Montserrat';
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    outline: none;
    border: 0;
    width: 100px;
    height: 25px;
    padding: 0;
    border-radius: 3px;
    background: linear-gradient(250.85deg, #303030 5.14%, #414141 52.26%, #303030 92.13%) 0% 0% / 300% 100%;
}

#car-maint-range:hover,
#car-maint-range:focus {
    animation: 5s ease 0s infinite normal none running selected;
}


#car-maintenance-buttons {
    height: 55px;
    width: 480px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#car-maintenance-buttons>div {
    height: 55px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    font-size: 14px;
}

#car-maintenance-buttons button {
    width: 80px;
    height: 30px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#car-maint-plate {
    border-radius: 5px 10px 5px 5px;
    width: 250px;
    height: 80px;
}

.plate-fade{
    animation: fade .3s;
}

@keyframes fade {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.plate-type-1 div:nth-child(2),
.plate-type-2 div:nth-child(2),
.plate-type-3 div:nth-child(2),
.plate-type-4 div:nth-child(1){
    height: 25px;
    padding-top: 5px;
}

.plate-type-0 div:nth-child(3),
.plate-type-1 div:nth-child(3),
.plate-type-2 div:nth-child(3),
.plate-type-3 div:nth-child(3),
.plate-type-4 div:nth-child(2){
    height: 40px;
    text-transform: uppercase;
}

.plate-type-0 {
    background: #E3E3E3;
}

.plate-type-0 div:nth-child(1),
.plate-type-1 div:nth-child(1),
.plate-type-2 div:nth-child(1),
.plate-type-3 div:nth-child(1) {
    width: 30px;
    height: 20px;
    background: #E41C1C;
    border-radius: 0px 5px 0px 0px;
    position: absolute;
    margin-left: 220px;
}

.plate-type-0 div:nth-child(2) {
    font-family: 'Sofia';
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    padding: 0;
    height: 30px;
    color: #E41C1C;
}

.plate-type-0 div:nth-child(3) {
    font-weight: 600;
    font-size: 40px;
    text-align: center;
    color: #2E1F8A;
}

.plate-type-1 {
    background: #131212;
    color: #ECE531;
}


.plate-type-1 div:nth-child(2),
.plate-type-2 div:nth-child(2),
.plate-type-3 div:nth-child(2),
.plate-type-4 div:nth-child(1) {
    font-weight: 700;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
}

.plate-type-1 div:nth-child(3),
.plate-type-2 div:nth-child(3) {
    font-weight: 600;
    font-size: 40px;
    text-align: center;
}

.plate-type-2 {
    background: #2E1F8A;
    color: #ECE531;
}

.plate-type-3,
.plate-type-4 {
    background: #E3E3E3;
}

.plate-type-3 div:nth-child(1) {
    width: 30px;
    height: 20px;
    background: #E41C1C;
    border-radius: 0px 5px 0px 0px;
    position: absolute;
    margin-left: 220px;
}

.plate-type-3 div:nth-child(2),
.plate-type-4 div:nth-child(1){
    color: #E41C1C;
}

.plate-type-3 div:nth-child(3),
.plate-type-4 div:nth-child(2){
    font-weight: 600;
    font-size: 40px;
    text-align: center;
    color: #2E1F8A;
}

.plate-type-3 div:nth-child(2) {
    position: relative;
}

.plate-type-3 div:nth-child(2):before {
    position: absolute;
}

.plate-type-3 div:nth-child(2):before {
    top: 20px;
    left: 0;
    height: 2px;
    content: "";
    background: #ECE531
}

.plate-type-3 div:nth-child(2):before {
    width: 100%;
}

#car-maintenance-container svg:hover{
    filter: drop-shadow(0px 0px 2px rgba(255, 255, 255, 0.31));
}

#car-maintenance-container svg:active{
    opacity: 0.9;
}

#car-maintenance-buttons input{
    background: #303030;
    font-family: 'Montserrat';
    border-radius: 3px;
    width: 45px;
    height: 25px;
    border: 0;
    outline: 0;
    padding: 0;
    margin: 0 10px;
    color: white;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
}

.car-maint-plate-price{
    height: 25px;
    display: flex;
    align-items: center;
}

#close-carmaint{
    position: absolute;
    top: 20px;
    right: 20px;
}

#close-carmaint svg{
    width: 25px;
    height: 25px;
}