#menu-garage {
    position: absolute;
    top: calc(50% - 325px);
    left: calc(50% - 555px);
    height: 650px;
    width: 1110px;
    color: white;
}

#menu-garage>div:first-child {
    z-index: 1;
    position: absolute;
    left: 0px;
    width: 235px;
    height: 650px;
    background: linear-gradient(268.24deg, #222222 0.37%, #292929 53.3%, #222222 100%);
    box-shadow: 10.3472px 11.4969px 72.4307px rgba(0, 0, 0, 0.24);
    border-radius: 30px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    font-weight: 700;
    font-size: 18px;
}

#menu-garage>div:first-child img {
    width: 35px;
    height: 35px;
    margin: 65px 0 20px 0;
}

#menu-garage>div:last-child {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(268.24deg, rgba(34, 34, 34, 0.98) 0.37%, rgba(41, 41, 41, 0.98) 53.3%, rgba(34, 34, 34, 0.98) 100%);
    box-shadow: 10.3472px 11.4969px 72.4307px rgba(0, 0, 0, 0.24);
    border-radius: 0px 30px 30px 0px;
    width: 905px;
    height: 650px;
    position: absolute;
    right: 0;
    z-index: 0;
}

#menugar-wrapper {
    width: 775px;
    height: 500px;
    margin: 55px 0 0 80px;
    display: flex;
    font-size: 14px;
    justify-content: space-between;
}

#menugar-wrapper>div:first-child {
    width: 390px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#menugar-wrapper>div:last-child {
    width: 370px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    visibility: hidden;
}

#menugar-scrollable {
    overflow-y: auto;
    overflow-x: hidden;
    height: 455px;
}

#menugar-scrollable::-webkit-scrollbar {
    width: 10px;
    background: #2F2F2F;
    border-radius: 16px;
}

#menugar-scrollable::-webkit-scrollbar-thumb {
    background: linear-gradient(225.72deg, #C81212 0%, #851717 100%);
    border-radius: 16px;
}

#menugar-container {
    width: 355px;
    height: 445px;
    padding: 5px 10px;
    background: linear-gradient(265.48deg, #282828 2.73%, rgba(44, 44, 44, 0.515625) 48.56%, #282828 97.34%);
    border-radius: 5px;
}

.menugar-row {
    display: flex;
}

.menugar-row:not(:first-child) {
    margin-top: 5px;
}

.menugar-elem {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 16px;
    background: linear-gradient(250.85deg, #303030 5.14%, #414141 52.26%, #303030 92.13%) 0% 0% / 300% 100%;
}

.menugar-elem:hover {
    animation: 5s ease 0s infinite normal none running selected;
}

.menugar-elem:not(:last-child) {
    margin-right: 5px;
}

.garelem-owned {
    background: linear-gradient(250.85deg, #232323 5.14%, #313030 52.26%, #232323 92.13%);
}

.garelem-selected {
    background: linear-gradient(225.72deg, #C81212 0%, #851717 100%) 0% 0% / 300% 100%;
    animation: 5s ease 0s infinite normal none running selected;
}

#menugar-info-wrapper-1 {
    width: 370px;
    height: 285px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#menugar-info-wrapper-1>div:last-child {
    width: 350px;
    padding: 0 10px;
    height: 240px;
    background: linear-gradient(265.48deg, #282828 2.73%, rgba(44, 44, 44, 0.515625) 48.56%, #282828 97.34%);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#menugar-info-wrapper-2 {
    width: 305px;
    height: 155px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#menugar-info {
    position: relative;
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-between;
}

#menugar-info>div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#menugar-info-wrapper-2 button {
    border-radius: 3px;
    width: 100px;
    height: 35px;
}

#menugar-info-wrapper-2>div {
    display: flex;
    justify-content: space-between;
}

#menugar-info-wrapper-2>div:nth-child(2) button {
    font-size: 10px;
}