#char-creation {
    color: white;
    opacity: 0;
    transition: .3s;
}

.chcreate-nav-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.chcreate-nav-col {
    margin-left: 25px;
}

#chcreate-right-container>div:not(:first-child),
#chcreate-colors-container>div:not(:first-child),
#chcreate-makeup-container>div:not(:first-child),
.chcreate-nav-col>div:not(:first-child),
.chcreate-row:not(:first-child),
.chcreate-slider-wrapper:not(:first-child),
.chcreate-fbox-mini:not(:first-child) {
    margin-top: 15px;
}

.chcreate-background {
    background: linear-gradient(268.24deg, rgba(34, 34, 34, 0.7) 0.37%, rgba(41, 41, 41, 0.7) 53.3%, rgba(34, 34, 34, 0.7) 100%);
    border: 1px solid rgba(0, 0, 0, 0.3);
}


.chcreate-nav-elem {
    width: 78px;
    height: 78px;
    background: linear-gradient(250.85deg, #303030 5.14%, #414141 52.26%, #303030 92.13%) 0% 0% / 300% 100%;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.chcreate-nav-elem img {
    opacity: 0.7;
}

.chcreate-nav-elem:hover {
    animation: 5s ease 0s infinite normal none running selected;
}

.chcreate-nav-selected {
    background: linear-gradient(225.72deg, #C81212 0%, #851717 100%) 0% 0% / 300% 100%;
    opacity: 1;
    animation: 5s ease 0s infinite normal none running selected;
}

.chcreate-nav-selected img {
    opacity: 1;
}

.right-content {
    height: 98px;
    width: 448px;
}

.left-content {
    height: 98px;
    width: 548px;
}

.chcreate-h1 {
    font-weight: 400;
    font-size: 16px;
    color: #C8C8C8;
    margin: 10px 0 18px 10px;
}


/*left-side*/
#chcreate-left {
    height: 840px;
    position: absolute;
    left: 20px;
    width: 550px;
    top: calc(50% - 392.5px);
}

.chcreate-left-containers {
    margin-top: 25px;
}

#chcreate-left>div:last-child {
    margin-top: 25px;
}

.chcreate-left-containers>div {
    display: none;
    flex-direction: column;
}

#chcreate-hair-container,
#chcreate-appearance-container {
    flex-direction: row;
}

#chcreate-colors-container,
#chcreate-makeup-container {
    overflow-y: auto;
    overflow-x: hidden;
    height: 580px;
}

#chcreate-colors-container {
    width: 560px;
}

#chcreate-makeup-container::-webkit-scrollbar {
    width: 0px;
}

#chcreate-colors-container::-webkit-scrollbar,
.chcreate-hair-wrapper>div::-webkit-scrollbar {
    width: 4px;
    background: #2F2F2F;
    border-radius: 16px;
}

#chcreate-colors-container::-webkit-scrollbar-thumb,
.chcreate-hair-wrapper>div::-webkit-scrollbar-thumb {
    background: linear-gradient(225.72deg, #C81212 0%, #851717 100%);
    border-radius: 16px;
}

.chcreate-help {
    position: absolute;
    bottom: 0px;
    font-weight: 600;
    font-size: 14px;
    color: #EDEDED;
}


/*data*/
#chcreate-data-container>div>div:first-child {
    font-weight: 600;
    font-size: 18px;
}

#chcreate-data-container>div:first-child {
    padding: 25px 30px;
}

.chcreate-sex-select {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chcreate-sex-select button {
    height: 100px;
    width: 225px;
    border-radius: 6px;
    font-size: 48px;
    font-weight: 900;
}

.chcreate-sex-bg {
    background: linear-gradient(250.85deg, #303030 5.14%, #414141 52.26%, #303030 92.13%) 0% 0% / 300% 100%;
}

.chcreate-sex-select button:hover {
    animation: 5s ease 0s infinite normal none running selected;
}

.chcreate-sex-selected {
    background: linear-gradient(225.72deg, #C81212 0%, #851717 100%) 0% 0% / 300% 100%;
    animation: 5s ease 0s infinite normal none running selected;
}

#chcreate-data-container>div:last-child {
    margin-top: 5px;
    padding: 25px 30px 20px;
}

.chcreate-inputs {
    display: flex;
    flex-direction: column;
    height: 270px;
    justify-content: space-between;
    margin-top: 15px;
}

.chcreate-input {
    opacity: 0.3;
    transition: 0.3s;
    position: relative;
    cursor: text;
}

.chcreate-input input {
    width: 460px;
    height: 25px;
    position: absolute;
    bottom: 20px;
    left: 18px;
    color: white;
    padding: 0;
    border: 0;
    background: none;
    font-weight: 500;
    font-size: 18px;
    text-transform: capitalize;
}

.chcreate-input input::placeholder {
    color: #C8C8C8;
}

/*hair*/
.chcreate-hair-wrapper>div {
    height: 550px;
    width: 560px;
    overflow-y: auto;
    display: none;
}

.chcreate-hair-elem {
    opacity: 0.9;
    width: 104px;
    height: 104px;
    border-radius: 3px;
    margin-right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.chcreate-hair-elem:hover {
    opacity: 1;
}

.chcreate-hair-selected {
    width: 104px;
    height: 104px;
    background: linear-gradient(268.24deg, rgba(240, 48, 48, 0.5) 0.37%, rgba(255, 0, 0, 0.5) 53.3%, rgba(243, 9, 9, 0.5) 100%) 0% 0% / 300% 100%;
    animation: 5s ease 0s infinite normal none running selected;
    border-radius: 10px;
}


/*right-side*/
#chcreate-right {
    width: 450px;
    position: absolute;
    right: 20px;
    top: calc(50% - 392.5px);
}

#chcreate-right-container {
    margin-top: 25px;
    height: 590px;
    overflow-y: auto;
    width: 450px;
}

#chcreate-right-container::-webkit-scrollbar {
    width: 0px;
    background: #393939;
    border-radius: 14px;
}

#chcreate-right-container::-webkit-scrollbar-thumb {
    background: linear-gradient(225.72deg, #B71F1F 0%, #851717 100%);
    border-radius: 14px;
}

.chcreate-menu {
    height: 80px;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.chcreate-menu button {
    font-weight: 600;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    outline: none;
    transition: 0.2s;
}

.chcreate-menu button:nth-child(1) {
    width: 80px;
    background: linear-gradient(232.03deg, #F06F27 -8.8%, #FF8642 143.47%) 0% 0% / 300% 100%;
}

.chcreate-menu button:nth-child(1):hover {
    animation: 5s ease 0s infinite normal none running selected;
}

.chcreate-menu button:nth-child(1):active {
    background: linear-gradient(232.03deg, #FF8642 -8.8%, #FF8642 143.47%);
}

.chcreate-menu button:nth-child(2) {
    width: 290px;
}

.chcreate-menu button:nth-child(1),
.chcreate-menu button:nth-child(3) {
    width: 80px;
}


/*sliders*/
.chcreate-slider {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
}

.chcreate-slider input[type="range"] {
    margin: 0;
    width: 100%;
    -webkit-appearance: none;
    height: 6px;
    background: #343434;
    border-radius: 6px;
    background-image: linear-gradient(86.42deg, #C81212 0%, #851717 100%);
    background-repeat: no-repeat;
}

.chcreate-slider input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    border: 2px solid #e0e0e0;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background: #CACACA;
    cursor: ew-resize;
}

.chcreate-slider-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    padding: 0 10px;
}

.chcreate-slider-bottom span {
    width: 100px;
    font-weight: 600;
}

.chcreate-slider-bottom span:nth-child(2) {
    font-weight: 700;
    font-size: 16px;
    text-align: center;
}

/*colors*/
.chcreate-cbox {
    padding-bottom: 10px;
    height: fit-content;
}

.chcreate-row {
    display: flex;
    justify-content: space-evenly;
}

.chcreate-fbox:not(:first-child) {
    margin-top: 10px;
}

.chcreate-cbox-elem {
    height: 25px;
    width: 25px;
    border-radius: 4px;
}

.chcreate-cbox-selected {
    height: 21px;
    width: 21px;
    border: 2px solid #f11f11;
}

/*frames*/
.chcreate-fbox-h1 {
    font-weight: 400;
    font-size: 16px;
}

.chcreate-fbox {
    padding: 10px 10px 20px;
    display: flex;
    width: 528px;
    height: 298px;
    flex-direction: column;
    justify-content: space-between;
}

.chcreate-fbox-mini {
    padding: 10px 25px;
    width: 498px;
    height: 83px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.chcreate-fbox-wrapper {
    width: 260px;
    position: relative;
    height: 270px;
    background: #222222;
}

.chcreate-frame-nav {
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.frame-nav-mini {
    height: 50px;
    background: #222222;
}

.chcreate-frame-nav label {
    position: absolute;
    right: 5px;
    bottom: 50px;
    font-weight: 300;
    font-size: 12px;
    text-transform: uppercase;
}

.chcreate-frame-name {
    font-weight: 600;
    font-size: 14px;
}

.chcreate-frame-arrow {
    cursor: pointer;
    transition: 0.3s ease;
    background: #282828;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.5;
}

.frame-nav-mini button {
    width: 50px;
    height: 50px;
}

.chcreate-frame-arrow:hover {
    opacity: 1;
}

.chcreate-frame-arrow:active {
    background: #202020;
}

.chcreate-frame {
    height: 215px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.chcreate-frame img {
    width: 170px;
    height: 205px;
}

.father-frame-bg {
    background: linear-gradient(360deg, #1882FF -68.89%, rgba(24, 130, 255, 0) 100%);
}

.mother-frame-bg {
    background: linear-gradient(359.41deg, #D76FFC -80.13%, rgba(215, 111, 252, 0) 99.54%);
}

.headdress-frame-bg,
.outerwear-frame-bg,
.underwear-frame-bg,
.footwear-frame-bg {
    background: linear-gradient(359.41deg, rgb(254, 69, 69) -80.13%, rgba(254, 69, 69, 0) 99.54%);
}