.salon-bg {
    background: linear-gradient(268.24deg, rgba(34, 34, 34, 0.8) 0.37%, rgba(41, 41, 41, 0.8) 53.3%, rgba(34, 34, 34, 0.8) 100%);
    border-radius: 3px;
}

.dark-gray {
    background: linear-gradient(250.85deg, #303030 5.14%, #414141 52.26%, #303030 92.13%) 0% 0% / 300% 100%;
}

.dark-gray:hover {
    animation: 5s ease 0s infinite normal none running selected;
}

.salon-selected {
    background: linear-gradient(225.72deg, #C81212 0%, #851717 100%) 0% 0% / 300% 100%;
    animation: 5s ease 0s infinite normal none running selected;
}

#salon-left-side,
#salon-right-side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 680px;
    position: absolute;
    left: 20px;
    top: calc(50% - 435px);
}

#salon-right-side {
    right: 20px;
    left: unset;
    height: unset;
}

#salon-left-side>div:first-child {
    width: 300px;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
}

#salon-left-scrollable,
#salon-right-scrollable {
    width: 305px;
    height: 525px;
    margin-right: 15px;
    direction: rtl;
    overflow-y: auto;
    overflow-x: hidden;
}

#salon-right-scrollable {
    direction: ltr;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#salon-container,
#salonvar-container {
    width: 300px;
    min-height: 525px;
}

#salonvar-container {
    min-height: 391px;
}


#salon-left-scrollable::-webkit-scrollbar,
#salon-right-scrollable::-webkit-scrollbar {
    width: 4px;
    background: #2F2F2F;
    border-radius: 16px;
}

#salon-left-scrollable::-webkit-scrollbar-thumb,
#salon-right-scrollable::-webkit-scrollbar-thumb {
    background: linear-gradient(225.72deg, #C81212 0%, #851717 100%);
    border-radius: 16px;
}

#salon-left-side>div:nth-child(2) {
    display: flex;
    width: 525px;

}

#salon-left-side>div:nth-child(3) {
    width: 300px;
    height: 40px;
}

#salon-right-side>div:first-child {
    width: 300px;
    height: 140px;
    margin-bottom: 15px;
}

.salon-nav-row {
    display: flex;
    flex-direction: row;
}

.salon-nav-elem {
    width: 75px;
    height: 75px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 15px 15px 0;
}

.salon-choice {
    width: 300px;
    height: 39px;
    color: #BBBBBB;
    font-weight: 600;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.salon-choice:hover {
    color: #DDDDDD;
}

.salon-choice:not(:first-child){
    margin-top: 5px
}





#salon-menu {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    width: 300px;
    height: 170px;
}

#salon-menu>div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#salon-menu>div:last-child {
    justify-content: center;
}

#salon-menu>div:first-child>div,
#salon-menu .dark-gray {
    color: white;
    width: 180px;
    height: 80px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}

#salon-menu .dark-gray {
    width: 80px;
}

#salon-menu p {
    margin-top: 10px;
    font-weight: 600;
    font-size: 12px;
}

.salon-pic-elem {
    opacity: 0.9;
    width: 130px;
    height: 140px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.salon-pic-elem:not(:first-child) {
    margin-top: 26.25px;
}

.salon-pic-elem:hover {
    opacity: 1;
}

.salon-pic-selected {
    width: 130px;
    height: 140px;
    background: linear-gradient(268.24deg, rgba(240, 48, 48, 0.5) 0.37%, rgba(255, 0, 0, 0.5) 53.3%, rgba(243, 9, 9, 0.5) 100%) 0% 0% / 300% 100%;
    animation: 5s ease 0s infinite normal none running selected;
    border-radius: 10px;
}

.salon-color-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
    width: 270px;
    height: 110px;
    padding: 15px;
}

.salon-color-block>div:first-child {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
}

.salon-color-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 75px;
    width: 100%;
}

.salon-color-row {
    display: flex;
    justify-content: space-between;
}

.salon-color-elem {
    width: 15px;
    height: 15px;
    border-radius: 4px;
}

.salon-color-selected {
    border: 1px solid white;
    width: 13px;
    height: 13px;
}

.salon-slider-block {
    padding: 10px;
    width: 280px;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.salon-slider-block>div:first-child {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #BBBBBB;
}

.salon-slider-block input[type="range"] {
    margin: 0;
    width: 100%;
    -webkit-appearance: none;
    height: 6px;
    background: #343434;
    border-radius: 6px;
    background-image: linear-gradient(86.42deg, #C81212 0%, #851717 100%);
    background-repeat: no-repeat;
}

.salon-slider-block input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    border: 2px solid #e0e0e0;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background: #CACACA;
    cursor: ew-resize;
}

.salon-slider-wrapper {
    height: 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.salon-span-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: #EDEDED;
}

.salon-span-wrapper span {
    width: 80px;
}