.tuning-bg {
    background: linear-gradient(268.24deg, rgba(34, 34, 34, 0.8) 0.37%, rgba(41, 41, 41, 0.8) 53.3%, rgba(34, 34, 34, 0.8) 100%);
    border-radius: 3px;
}

.dark-gray {
    background: linear-gradient(250.85deg, #303030 5.14%, #414141 52.26%, #303030 92.13%) 0% 0% / 300% 100%;
}

.dark-gray:hover {
    animation: 5s ease 0s infinite normal none running selected;
}

.tuning-selected {
    background: linear-gradient(225.72deg, #C81212 0%, #851717 100%) 0% 0% / 300% 100%;
    animation: 5s ease 0s infinite normal none running selected;
}

#tuning-left-side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 735px;
    position: absolute;
    left: 20px;
}

#tuning-left-side>div:first-child {
    width: 300px;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#tuning-left-scrollable {
    width: 305px;
    height: 525px;
    margin-right: 15px;
    direction: rtl;
    overflow-y: scroll;
    overflow-x: hidden;
}

#tuning-left-scrollable>div {
    width: 300px;
    height: 100%;
}

#tuning-left-scrollable::-webkit-scrollbar {
    width: 4px;
    background: #2F2F2F;
    border-radius: 16px;
}

#tuning-left-scrollable::-webkit-scrollbar-thumb {
    background: linear-gradient(225.72deg, #C81212 0%, #851717 100%);
    border-radius: 16px;
}

#tuning-left-side>div:nth-child(2) {
    display: flex;

    width: 525px;

}

#tuning-left-side>div:nth-child(3) {
    width: 300px;
    height: 40px;
}


.tuning-nav-row {
    display: flex;
    flex-direction: row;
}

.tuning-nav-elem {
    width: 75px;
    height: 75px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 15px 15px 0;
}

#tuning-container {}